name: Deploy

on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 6 * * 0"
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: pages
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          repository: developmentseed/stac-map
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: yarn
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - uses: actions/configure-pages@v5
      - name: Build
        run: yarn build
        env:
          VITE_BASE_PATH: /
          VITE_DEFAULT_HREF: https://stac.eoapi.dev/
      - uses: actions/upload-pages-artifact@v3
        with:
          path: ./dist
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - id: deployment
        uses: actions/deploy-pages@v4
